.container{
    padding: 1rem;

}
.row{
    display: flex;
    flex-direction: column;
}

.container .card{
    margin: 1rem;
    max-width: 90vw;
}

#portfolio, #pec{
    width: 80vw;
    object-fit: cover;
}

a{
    text-decoration: underline;
    color: black;
}

.card-header{
    overflow: hidden;
    text-align: center;
}

.container .card .card-header{
    background-color: transparent;
}

.tags{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.tags .tag{
    padding: 0.1rem 0.75rem;
    border-radius: 1.5rem;
    background-color: var(--main-blue-color);
    color:white
}

.optional{
    display: none !important;
}

@media (min-width: 992px){

    .row{
        flex-direction: row;
    }

    
    #portfolio{
    width: 60vw;
    height: 30vw;
    transform: translateX(-25%) rotate(45deg);
    object-fit: cover;
    }

    #pec{
        width: auto;
        height: 30vw;
        transform: rotate(45deg);
        object-fit:none;
    }


    
}