.container{
    padding: 1rem;
}

.container .card{
    margin: 1rem;
}

.card-header{
    overflow: hidden;
    text-align: center;
}

.container .card .card-header{
    background-color: transparent;
}

img{
    width: 60vw;
    height: auto;
    transform: translateX(-25%) rotate(45deg);
    object-fit: cover;
}

.tags{
    display: flex;
    gap: 1rem;
}
.tags .tag{
    padding: 0.1rem 0.75rem;
    border-radius: 1.5rem;
    background-color: var(--bs-blue);
    color:white
}