<section id="projects">
    <div class="container" *ngIf="data !== undefined">
        <h2>{{data.title}}</h2>
        <app-add-section-btn class="my-2" [texto]="'Añadir proyecto'" (click)="addMode = !addMode" ></app-add-section-btn>
        <app-add-project *ngIf="addMode && editMode" (addProyecto)="addProyecto($event)"></app-add-project>
        <div class="container">
            <div class="row my-2">
                    <app-projects-card class=" col-6 " *ngFor="let proyecto of proyectos" [proyecto]="proyecto" (update)="update()" (deleteEvent)="deleteElement($event)" ></app-projects-card>
            </div>
        </div>
    </div>
</section>