.container{
    padding: 1rem;
}
.container h2{
    text-align: center;
}
.row{
    display: flex;
    flex-direction: column;
}

.container .card{
    margin: 0 1rem;
    max-width: 90vw;
}

#portfolio, #pec{
    width: auto;
    height: 400px;
    object-fit: cover;
}

a{
    text-decoration: underline;
    color: black;
}

.card-header{
    overflow: hidden;
    text-align: center;
}

.container .card .card-header{
    background-color: transparent;
}

.tags{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.tag{
    padding: 0.1rem 0.75rem;
    border-radius: 1.5rem;
    background-color: var(--main-blue-color);
    color:white
}

.optional{
    display: none !important;
}

@media (min-width: 992px){

    .row{
        flex-direction: row;
    }

    
    #portfolio{
        width: -webkit-fill-available;
        height: 400px;
        object-position: center;
        object-fit:cover;
    }

    #pec{
        width: auto;
        height: 400px;
        margin: 0 auto;
        transform: rotate(30deg);
        object-fit:contain;
    }


    
}