<section id="experience" class="component">
  <div class="container" *ngIf="data !== undefined">
    <div id="camillero" class="w-100" *ngIf="portfolio !== undefined">
        <h2 class="text-center">{{data.title}}</h2>

        <app-add-section-btn class="w-100" [add]="addMode" (click)="addMode = !addMode" [texto]="'Añadir experiencia'"></app-add-section-btn>

        <app-add-experience [addMode]="addMode" (adding)="addEvent($event)" *ngIf="editMode"></app-add-experience>


        <app-experience-card *ngFor="let card of portfolio" [card]="card" (deleteEvent)="deleteElement($event)" (updateEvent)="this.update()"></app-experience-card>


    </div>
    <div id="optional" class="optional card mb-3 hide">
      <div class="card-body" *ngIf="data.content !== undefined">
        <h2> {{data.content.optional.title}} </h2>
        <p>{{data.content.optional.content}}
        </p>
      </div>
    </div>
  </div>
</section>