.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.card{
    margin-bottom: 1rem;
}

.hide{
    display: none !important;
}
.optional{
    text-align: center;
}
.optional p{
    margin: 1rem 3rem;
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
}