<section id="experience">
    <div class="container hide" id="camillero">
        <h2>Experiencia laboral</h2>
        <div class="card">
            <div class="card-header">
                Hospital Privado del Sur (FUMEBA)
            </div>
            <div class="card-body">
              <h5 class="card-title">Camillero</h5>
              <p class="card-text">Abril 2021 - Ahora</p>
            </div>
            <div class="card-body">
              <p class="card-text">
                  Trabajé llevando movilizando y transportando pacientes en silla de ruedas y en camilla, trabajando en equipo
                  con enfermeros, camilleros y médicos. El trabajo requiere mucha responsabilidad y esfuerzo físico. Aprendí
                  a trabajar bajo altísima presión.
              </p>
            </div>
        </div>
        <div class="card" id="paintball">
            <div class="card-header">
                Tiro Paintball
            </div>
            <div class="card-body">
              <h5 class="card-title">Atención al público</h5>
              <p class="card-text">Octubre 2020 - Abril 2021</p>
            </div>
            <div class="card-body">
              <p class="card-text">
                    Aprendí rápidamente todo lo relacionado con el paintball, incluso a reparar marcadoras y dar charlas
                    de seguridad a los clientes nuevos antes de cada juego. Dirigía juegos, cargaba marcadoras y anotaba
                    lo que cada persona consumía. Limpiábamos con lavandina y seguíamos el protocolo covid.
              </p>
            </div>
        </div>
        <div class="card" id="churros">
            <div class="card-header">
                Churros El Topo, Monte Hermoso
            </div>
            <div class="card-body">
              <h5 class="card-title">Cocinero y vendedor</h5>
              <p class="card-text">Diciembre 2019 - Febrero 2020</p>
            </div>
            <div class="card-body">
              <p class="card-text">
                    Nos contrataron por la temporada en la playa. Trabajamos bajo presión en la cocina y trabajamos en
                    equipo para cocinar todas las cosas a tiempo. Vendí en la playa y tuve un excelente manejo del dinero
                    reconocido por la dueña del lugar.
              </p>
            </div>
        </div>
        <div class="card" id="misionero">
            <div class="card-header">
                La Iglesia de Jesucristo de los Santos de los Últimos Días
            </div>
            <div class="card-body">
              <h5 class="card-title">Misionero voluntario, representante de la iglesia (Chiclayo - Perú)</h5>
              <p class="card-text">Mayo 2017 - Mayo 2019</p>
            </div>
            <div class="card-body">
              <p class="card-text">
                    El trabajo más difícil y recompensante de mi vida, servicio que pagué con mi dinero. Aprendí a
                    trabajar con un compañero, enseñar lecciones, hacer servicio comunitario. Trabajé con estadounidenses,
                    canadienses, peruanos, bolivianos, mexicanos, colombianos, venezolanos, filipinos y brasileños.
                    <br>
                    <br>
                    Trabajábamos muy orientados a objetivos, con planes y metas personales, en grupo y como misión.
                    Teníamos un presidente de misión (una persona mayor que está encargada de todos los misioneros jóvenes)
                    que confiaba mucho en mí y me puso a cargo del grupo de misioneros más grande (18 misioneros) que estaba a
                    6 horas de viaje de distancia. 
                    <br>
                    <br>
                    Aprendí diligencia, a identificarme con mi trabajo y responsabilidad.
              </p>
            </div>
        </div>
    </div>
    <div id="optional" class="optional">
      <h2> Experiencia Laboral </h2>
      <p>Aún no poseo experiencia laboral relevante para sistemas, pero si quiere ver todos los trabajos que he tenido,
        puede activar el modo detallado.
      </p>
    </div>
</section>