<section id="experience">
  <div class="container" *ngIf="data !== undefined">
    <div class="hide" id="camillero" *ngIf="data.content !== undefined">
        <h2>{{data.title}}</h2>
        <div class="card" *ngFor="let card of data.content.cards">
            <div class="card-header">
                {{card.business}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{card.title}}</h5>
              <p class="card-text">{{card.begin}} - {{card.end}}</p>
            </div>
            <div class="card-body">
              <p class="card-text" *ngFor="let paragraph of card.content">
                  {{paragraph.p}}
              </p>
            </div>
        </div>
    </div>
    <div id="optional" class="optional card mb-3">
      <div class="card-body" *ngIf="data.content !== undefined">
        <h2> {{data.content.optional.title}} </h2>
        <p>{{data.content.optional.content}}
        </p>
      </div>
    </div>
  </div>
</section>