h2{
    text-align: center;
}

.card{
    padding: 1rem;
}

.card-body{
    padding: 1rem 0;
}
.card-header{
    text-align: center;
}

.container{
    padding: 1rem;
}
.progress{
    display: flex;
    height: 1.5rem;
    font-size: 1rem;
}

.progress-bar{
    background-color:  var(--highlight-border)
}

.progress.optional{
    display: none !important;
}

h4.optional{
    display: none !important;
}

.progress .progress-bar.aparece{
    animation: alargamiento 1s reverse;
    animation-timing-function: ease-in;
}

.green{
    background-color: green !important;
    transition: 1s;
}

.tecnologia-img{
    width: 80px;
}

@keyframes alargamiento {
    100%{
        width: 0;
    }
}