<div class="card" >
    <div class="position-absolute end-0 d-flex"> <!--Edit and delete buttons-->
      <app-edit-section-btn (editing)="editElement(card)"></app-edit-section-btn>
      <app-delete-section-btn (click)="deleteElement(card)" ></app-delete-section-btn>
    </div>
    <div class="row g-0">
      <div class="col-md-4 col-12 d-flex justify-content-center align-items-center " [ngStyle]="{'background-color':'#'+card.color}">
        <img (change)="inputImage($event,card)" class="p-1 m-auto img-fluid rounded-start" [src]="card.img" alt="" [alt]="card.empresa + ' logo'">
        <div class="btn-container position-absolute d-flex justify-content-center align-items-center" *ngIf="editing">
            <label [for]="'fileInput'+card.id_educacion">
              <div class="btn btn-primary rounded-circle">
                <i class="bi bi-pencil-square"></i>
              </div>
            </label>
            <input 
              accept="image/png, image/gif, image/jpeg" 
              (change)="inputImage($event,card)" 
              class="no-display" 
              aria-label="_" 
              type="file" 
              [id]="'fileInput'+card.id_educacion" 
              name="filedata"
            />
        </div>
      </div>
      <div class="col-md-8 col-12 py-4">
        <div class="card-body">
          <div class="card-text">
            <small class="text-muted" *ngIf="!card.edit">{{card.empresa}}</small>
            <div class="form-floating my-1" *ngIf="card.edit">
              <input class="form-control" [id]="'expEmpresa_'+card.id_experiencia_laboral" [(ngModel)]="card.empresa" aria-label="Editar empresa">
              <label [for]="'expEmpresa_'+card.id_experiencia_laboral">Empresa</label>
            </div>
          </div>

          <h5 class="card-title" *ngIf="!card.edit">{{card.posicion}}</h5>
          <div class="form-floating my-1" *ngIf="card.edit" >
            <input [id]="'expPosicion_'+card.id_experiencia_laboral" class="form-control" [(ngModel)]="card.posicion" aria-label="Editar posición">
            <label [for]="'expPosicion_'+card.id_experiencia_laboral">Posición</label>
          </div>

          <p class="card-text" *ngIf="!card.edit">{{card.inicio}} - {{card.fin}}</p>
          <div class="row my-1" *ngIf="card.edit">
            <div class="col-6 form-floating"> 
              <input [id]="'expInicio_'+card.id_experiencia_laboral" class="form-control" [(ngModel)]="card.inicio" aria-label="Editar inicio de la posición">
              <label [for]="'expInicio_'+card.id_experiencia_laboral">Inicio</label>
            </div>
            <div class="col-6 form-floating">
              <input [id]="'expFin_'+card.id_experiencia_laboral" class="form-control" [(ngModel)]="card.fin" aria-label="Editar fin de la posición">
              <label [for]="'expFin_'+card.id_experiencia_laboral">Fin</label>
            </div>
          </div>

        </div>
        <div class="card-body">
          <p class="card-text" *ngIf="!card.edit">
              {{card.descripcion}}
          </p>
          <div *ngIf="card.edit" class="my-1 d-flex">
            <textarea class="w-100" [(ngModel)]="card.descripcion" aria-label="Editar descripción"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>