#scroll-top-btn{
    display: none;
    bottom: 3.5rem;
    z-index: 101;
    position: fixed;
    height: 3rem;
    width: 3rem;
    transform: translateX(4rem);

    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: 2px solid transparent;
    right: 1rem;
    border-radius: 50%;
}

#scroll-top-btn.aparece{
    display: block;
    transition: 1s;
    transform: translateX(0);
    display: flex !important;

    
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.411);
}

i{
    color: black;
    font-size: 2rem;
}