.text-color{
    font-size: 5rem;
    color:var(--main-blue-color) !important
}
.pantalla{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);

}
.z-index{
    
    z-index: 1000;
}