.timeline {
    border-left: 3px solid var(--main-blue-color);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 1rem;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

.card-header{
    display: none;
}

.accordion{
    overflow: hidden;
}

#accordionTimeline.accordion{
    margin: 5rem 0;
    margin-bottom: 0;
}

.optional{
    display: none !important;
}

.toggle{
    display: none;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
}

.timeline .event:before {
    content: attr(data-date);
    text-align: left;
    transform: translateY(-2rem);
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}


.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}


.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
    transform: translateY(-1.5rem);
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

@media (min-width: 992px){
    .aside{
        position: fixed;
        right: 0;
        top: -20px;
        width: 35vw;
        min-height: 40vh;
        transition: 1.5s;
        background-color: transparent;
        border-width: 0;
    }
    .accordion-item{
        border-width: 0;
    }

    .card-header{
        display: block;
        text-align: center;
        background-color: white;
    }


    aside div.accordion-item{
        background-color: transparent;
    }
    #collapseTimeline{
        transition: 1.5s;
        background-color: white;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #collapseTimeline.collapsed{
        transition: 1.5s;
        transform: translateX(34vw);
    }

    #listaFechas.collapsed{
        display: inline-table;
        transform: translateX(90px);
    }

    .timeline{
        margin-right: 0;
        max-width: 80%;
    }
    li.event::before{
        text-align: left !important;
        font-size: 0.8rem !important;
        left:0px;
        top: 1rem;
    }
    h3{
        margin-top: 0.2rem;
    }
    #headingTimeline.accordion-header{
        display: none;
    }
    #collapseTimeline.collapse{
        display: block;
    }
    .toggle{
        transition: 1.5s;
        display: flex;
        position: fixed;
        top:50vh;
        right: calc(35vw - 1.75rem);
        width: 3rem;
        height: 3rem;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        border-width: 0;
        transform: rotate(180deg);
    }
    .toggle.left{
        position: fixed;
        transition: 1.5s;
        right: calc(1vw - 1.5rem);
        transform: rotate(0);
    }
    .toggle:active{
        background-color: rgb(175, 175, 175);
    }
    
    .toggle i::before{
        font-size: 2rem;
        transform: translate(-0.3rem,0.5rem);
    }
}