.navbar-toggler{
    padding:0;
}
.grupo-start{
    margin-right: 00.75rem;
}
.botones-der{
    justify-content: flex-end;
}
@media (max-width:375px) {
    .grupo-start{
        margin-right:0;
    }
}