.container{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 3rem;
    z-index: 101;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    width: 100vw;
}
i{
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: var(--main-blue-color)
}

@media (min-width: 992px) {
    div.container{
        position:fixed;
        top: 5px;
        right: 1rem;
        background-color: transparent;
        width: 15rem;
    }
    a{
        color: white;
    }
    ul{
        justify-content: center;
        gap:1rem;
        width: auto;
        background-color: transparent;
    }

}

@media (min-width:1150px){
    ul{
        justify-content: space-around;
    }
}