
i{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
.btn{
    border: 0;
}
.border-end-1{
    padding-right: 0.75rem;
    border-right: 1px solid var(--font-color);
}

@media (min-width:992px) and (max-width:1025px) {
    .btn{
        padding-left: 0.4rem;
        padding-right:0.4rem;
    }
    
}
@media (max-width:375px) {
    .btn{
        padding: .375rem 0.5rem;
    }
    .border-end-1{
        padding-right: 0;
    }
}