

  <app-loading-spinner *ngIf="!loaded"></app-loading-spinner>
  <app-welcome></app-welcome>
  <div class="scrollspy expand" id="home">

    <header>
      <app-navbar (detallado)="detailed($event)"></app-navbar>
    </header>
    <app-home></app-home>
    <app-video></app-video>
    <app-skills></app-skills>
    <app-education></app-education>
    <app-experience></app-experience>
    <app-projects></app-projects>
    <div class="login"></div>
    <app-timeline (collapseButton)="expand($event)"></app-timeline>
    <app-footer></app-footer>
    <app-scroll-top-btn></app-scroll-top-btn>
    <app-toaster></app-toaster>
    <app-uploading-spinner [uploading]="uploading"></app-uploading-spinner>
  </div>