<div class="main" id="navbar">
    <div class="d-flex container shadow p-3" *ngIf="data !==undefined">
        <div class="header">
            <a (click)="linkTo('/'); dataService.checkPortfolio()" class="back-btn">
                <i class="bi bi-arrow-left-circle-fill"></i>
            </a>
            <h1>{{data.title}}</h1>
            <div>
                <i class="bi bi-arrow-left-circle-fill nothing"></i>
            </div>
        </div>
        <div class="body">
            <form (ngSubmit)="login()">
                <div class="form-floating mb-3">
                    <input type="email" autocomplete="username" class="form-control" id="floatingInput" placeholder="asdasd@example.com" [formControl]="username">
                    <label for="floatingInput">{{data.content.email}}</label>
                </div>
                <div class="form-floating">
                    <input type="password" autocomplete="current-password" class="form-control" id="floatingPassword" placeholder="Password" [formControl]="password">
                    <label for="floatingPassword">{{data.content.password}}</label>
                </div>
                <p class="text-danger" *ngIf="wrong">
                    Usuario o contraseña erróneas. Inténtelo de nuevo.
                </p>
                <button type="submit" class="btn btn-primary login-btn">
                    {{data.content.login}} 
                    <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                
            </form>
        </div>
        <div class="nothing">
            <small>_</small>
        </div>
    </div>
</div>
