<div class="main">
    <div class="d-flex container">
        <div class="header">
            <a routerLink="/portfolio" class="back-btn">
                <i class="bi bi-arrow-left-circle-fill"></i>
            </a>
            <h1>{{data.title}}</h1>
            <div>
                <i class="bi bi-arrow-left-circle-fill nothing"></i>
            </div>
        </div>
        <div class="body">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="asdasd@example.com">
                <label for="floatingInput">{{data.content.email}}</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">{{data.content.password}}</label>
            </div>
            <button class="btn btn-primary">{{data.content.login}}</button>
        </div>
        <div class="nothing">
            <small>_</small>
        </div>
    </div>
</div>
