<!-- Modal that starts when page loads-->
<div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="welcomeModalLabel">{{data.title}}</h5>
        <div class="d-flex lang">
          <app-lang></app-lang>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <p *ngFor="let paragraph of data.content">
          {{paragraph.p}}
            <br>
        </p>
        <a [href]="data.link.mailto">{{data.link.mail}}</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{data.button}}</button>
      </div>
    </div>
  </div>
</div>
<button id="openModalButton" class="hidden" [hidden]="true" data-bs-toggle="modal" data-bs-target="#welcomeModal">Open Modal</button>