nav{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
}
svg{
    fill: var(--font-color);
}
nav .nav-tabs{
    background-color: var(--main-blue-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: var(--highlight-border);
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: white;
}

.active{
    background-color: var(--highlight-color) !important;
}

nav .navbar-nav{
    padding: 0.5rem;
}

.nav-items{
    border-radius: 2px;
}

.nav-tabs .nav-link{
    color: white;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 3px;
    padding: 0.5rem;
}

.nav-tabs .nav-link.active{
    color: black;
}

.nav-link.active:active{
    color:rgb(189, 181, 34);
}

.navbar-toggler-icon{
    color:black;
}
.active{
    background-color: white;
}

.botones-izq{
    width: 100px;
}
.botones-der{
    display: flex;
}

.space{
    height: 50px;
}
.navbar-brand img{
    max-height: 30px;
}
.navbar-brand img.invert{
    filter: invert(100%);
}

@media (min-width: 992px){
    
    .nav-item a{
        width: 90px;
    }
    nav{
        position:fixed;
        z-index: 100;
    }
    .navbar{
        padding-top: 0;
    }
    .nav-tabs{
        border: none;
    }
    .login-btn{
        position: absolute;
        right: 5vw;
    }
    #timeline-link{
        display: none;
    }
}

@media (min-width:1150px){
    .nav-item a{
        width: auto;
    }
}