.credits{
    background-color: black;
    color: white;
    width: 100vw;
    padding: 1rem 3rem;
}

@media (min-width: 992px){
    .credits{
        margin-bottom: 0;
    }
}

.bi-github{
    font-size: 2rem
}