.credits{
    background-color: black;
    color: white;
    width: 100vw;
    padding: 1rem 3rem;
    margin-bottom: 3rem;
}

@media (min-width: 992px){
    .credits{
        margin-bottom: 0;
    }
}