<div class="card my-2" >
    <div class="ms-auto end-0 d-flex"> <!--Edit and delete buttons-->
        <app-edit-section-btn (editing)="editElement(proyecto)"></app-edit-section-btn>
        <app-delete-section-btn (click)="deleteElement(proyecto)" ></app-delete-section-btn>
    </div>
    <div class="card-header">
        <h3 *ngIf="!proyecto.edit">{{proyecto.title}}</h3>
        <input *ngIf="proyecto.edit" [(ngModel)]="proyecto.title" placeholder="Título">
    </div>

    <a class="card-header" rel="noopener" target="_blank" [href]="proyecto.enlace" *ngIf="!proyecto.edit">
        <img class="project" alt="project image" [src]="proyecto.img">
        
    </a>
    <div *ngIf="proyecto.edit">
        <div class="card-header d-flex justify-content-center align-items-center" >
            <img class="project" alt="project image" [src]="proyecto.img">
            <div class="btn-container position-absolute d-flex justify-content-center align-items-center">
                <label [for]="'fileInput'+proyecto.id_proyecto">
                  <div class="btn btn-primary rounded-circle">
                    <i class="bi bi-pencil-square"></i>
                  </div>
                </label>
                <input (change)="inputImage($event,proyecto)" accept="image/png, image/gif, image/jpeg" class="no-display" type="file" [id]="'fileInput'+proyecto.id_proyecto" name="filedata"/>
            </div>  
            

        </div>
        <div class="form-floating mb-3">
            <input placeholder="Enlace" [(ngModel)]="proyecto.enlace" [id]="'proyectoUrl_'+proyecto.id_proyecto" class="form-control">
            <label class="text-black" [for]="'proyectoUrl_'+proyecto.id_proyecto">Vínculo / URL</label>
        </div>
        <div class="form-floating">
            <input placeholder="Link de Github" [(ngModel)]="proyecto.github" [id]="'proyectoGithub_'+proyecto.id_proyecto" class="form-control" />
            <label class="text-black" [for]="'proyectoGithub_'+proyecto.id_proyecto">Línk de Github</label>
        </div>
    </div>

    <div class="card-body">
        <!--
        <div class="tags" >
            <div 
            *ngFor="let tag of card.tags" 
            class="tag" 
            [ngClass]="{optional: tag.optional === 'true'}">
                {{tag.title}}
            </div>
        </div>
        -->
        <br>
        <ng-container *ngIf="!proyecto.edit">
            <p>
                {{proyecto.description}}
            </p>
            <div class="d-flex justify-content-center gap-4">
                <a [href]="proyecto.github" target="_blank" rel="noopener" class="btn btn-primary text-decoration-none"><i class="bi bi-github"></i> Github</a>
                <a [href]="proyecto.enlace" target="_blank" rel="noopener" class="btn btn-primary text-decoration-none"><i class="bi bi-box-arrow-up-right"></i> Website</a>
            </div>
        </ng-container>
        <ng-container *ngIf="proyecto.edit">
            <textarea class="w-100" rows="10" [(ngModel)]="proyecto.description" placeholder="Descripción"></textarea>
        </ng-container>
        <!--
        <div class="d-flex gap-2">
            <div *ngFor="let link of card.links">
                <a class="btn btn-primary" [href]="link.url">
                    {{link.title}}
                </a>
            </div>
        </div>
        -->
    </div>
</div>