.profile{ 
  transform: translate(15px, -75px);
  display: flex;
  width: 200px;
  flex-wrap: wrap;
  justify-content: center;
}
.background{
  max-height: calc(100vh - 57px);
  overflow: hidden;
}
.profile-info{
  text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .title{
  color:var(--font-color);
  transition: 1s;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 25rem;
  border: 5px solid var(--main-blue-color);
}
.title h1{
    z-index: 99;
}

.container .title:after{
    transition: 1s;
    position: absolute;
    content: '';
    height: 8rem;
    width: calc(25rem - 10px);
    background-color: var(--main-bg-color);
}

.container .title:hover::before{
  transition: 0.5s;
  content: 'Dark mode';
  color: var(--main-bg-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

.sticky{
  height: 400px;
  margin-top:0;
  margin-bottom: auto;

}
