.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.accordion{
    width: 100%;
    display: none;
}

.accordion.show{
    display: block;
}

textarea{
    resize: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    vertical-align:top;
}