
.btn{
    padding: 0;
}
.btn-primary{
    background-color:var(--main-blue-color);
}
.lang-ico{
    height: 32px;
    width: 32px;
}
.languages-icons{
    background-color: var(--main-blue-color);
    padding: 3px 4px;
    border-radius: 5px;
    gap: 0.5rem;
}
