<button type="button" class="btn btn-primary no-display" id="toasterBtn">hidden</button>

<div class="toast-container position-fixed bottom-0 start-0 p-3 text-bg-success">
    <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <i class="bi bi-check-lg"></i>
        <strong class="me-auto">Guardado</strong>
        <small>Ahora</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        ¡Su portafolio ha sido guardado con éxito!
      </div>
    </div>
  </div>