<section id="education">
    <div class="container">
        <h2>Educación</h2>
        <div class="card mb-3" id="argprograma">
            <div class="card-header">
              Instituto Nacional de Tecnología Industrial (INTI)
            </div>
            <div class="card-body">
              <h5 class="card-title">Full-Stack Developer Junior</h5>
              <p class="card-text">Aprobé la primera etapa, estoy cursando la segunda que termina alrededor de Agosto</p>
              <a target="_blank" rel="noopener" href="https://mumuki.io/argentina-programa/certificates/verify/2AW1DsgW9Pd_ms-C" class="btn btn-primary">Certificado primera etapa</a>
              <p> </p>
              <a target="_blank" rel="noopener" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" class="btn btn-primary">Página web</a>
            </div>
        </div>
        <div class="card mb-3" id="uns">
            <div class="card-header">
              Universidad Nacional del Sur
            </div>
            <div class="card-body">
              <h5 class="card-title">Ingeniería en Sistemas</h5>
              <p class="card-text">Inicié a fines del 2019, tuve excelentes progresos en materias de programación. Estoy estancado debido a horarios laborales</p>
              <a target="_blank" rel="noopener" href="https://servicios.uns.edu.ar/grado/plan.asp?dependen=16&carrera=181" class="btn btn-primary">Página web</a>
            </div>
        </div>
        <div class="card mb-3 optional">
          <div class="card-header">
            Escuela técnica N°4 "Antártida" - Bahía Blanca
          </div>
          <div class="card-body">
            <h5 class="card-title">Técnico Químco</h5>
            <p class="card-text">Terminé con un promedio de 7,9. Mi proyecto fue "Potabilización del agua de mar mediante electrodiálisis"</p>
          </div>
      </div>
    </div>
</section>
