<section id="education" class="component d-flex align-items-center">
    <div class="container" *ngIf="data !== undefined && context !== undefined">
        <h2>{{context.title}}</h2>

        <app-add-section-btn [add]="addMode" (click)="addMode = !addMode" [texto]="'Añadir estudios'"></app-add-section-btn>

        <app-add-education *ngIf="addMode && editMode" (adding)="addEvent($event)"></app-add-education>

        <app-education-card *ngFor="let card of data" [card]="card" (deleteEvent)="deleteElement($event)" (updateEvent)="this.update()"></app-education-card>
    </div>
</section>
